@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: #0952BD !important;
}